<centered>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="ui grid">
                <div class="ten wide column">
                    <img src="/images/xtern-logo.png" class="">
                </div>
                <div class="six wide column">
                    <h2 class="xternBlue">
                            Company Portal
                    </h2>
                </div>
            </div>
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <select class="ui search dropdown">
                            <option disabled selected value="">Company</option>
                            <option value="ININ">Interactive Intelligence</option>
                            <option value="LILLY">Lilly</option>
                        </select>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="ui buttons fluid">
                        <!--<div class="ui   button">Request an Account</div>-->
                        <!--<div class="or"></div>-->
                        <div class="ui xternBlue  submit button" ng-click="login()">Login</div>
                    </div>
                </div>

                <div class="ui error message"></div>

            </form>
            <div class="ui message">
               Not a Company Representative? <br> Switch to the <a>Instructor</a> or <a ui-sref="techpoint.login">Techpoint</a> Login
            </div>
            <div class="ui message">
                Company Not Found? &nbsp; &nbsp; <a href="http://xtern.me/hosts/">Apply Now</a>
            </div>
        </div>
    </div>
</centered>

<style type="text/css">
    body {
        background-color: #DADADA;
    }

    body > .grid {
        height: 100%;
    }

    /*.image {*/
        /*margin-top: -100px;*/
    /*}*/

    .column {
        max-width: 450px;
    }

    .xternBlue.button {
        background-color: #37b2c9;
        color: #ffffff;
    }

    .xternBlue.button:hover {
        background-color: #2c96c9;
        color: #ffffff;
    }

    .xternBlue {
        color: #37b2c9;
    }

</style>
