<!--<div ng-controller="TechPointMain as ctrl">-->

<div class="ui large inverted fixed top menu">
    <div class="item">
        <!--<img class="image" src="/images/techpoint-logo-icon.png">-->
        <i class="building outline big icon"></i>
    </div>
    <div class="item">
        <img class="image" src="/core/public/images/xtern-x.png">
    </div>
    <!--<div >-->
    <div ng-if="loggedIn" class="item">{{companyName}}</div>
    <a ng-if="loggedIn" ui-sref="company.dashboard" ui-sref-active="active" class="item">Dashboard</a>
    <a ng-if="loggedIn" ui-sref="company.recruting" ui-sref-active="active" class="item">Recruiting</a>
    <a ng-if="loggedIn" ui-sref-active="active" class="item">Statistics</a>
    <!--<a id="profile" ng-if="loggedIn" ui-sref="company.profile" ui-sref-active="active" class="item hidden">Profile</a>-->
    <div class="right menu">
        <a ng-if="loggedIn" ui-sref="company.login" ng-click="logout()" class="item">Sign Out</a>
        <a ng-if="!loggedIn" class="item">Sign In</a>
    </div>
    <!--</div>-->
</div>
<!--</div>-->
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div ui-view></div>