<!--Takes in an object with the Following attributes:-->
    <!--filterList: The list selected attributes 2 way-->
    <!--optionsList: The list of possible filters 1 way-->
    <!-- label: The Filter Label -->
<!--Takes in change: Change function-->
<h4 class="ui header">{{filterobject.label}}</h4>
<select class="ui fluid search dropdown" multiple=""
        ng-model="filterobject.filterList" ng-change="change()">
    <option value="">Filter By {{filterobject.label}}</option>
    <option ng-repeat="item in filterobject.optionsList" value="{{item}}" on-last-repeat-drop-down>
        {{item}}
    </option>
</select>