<div>
    <div class="ui container" ng-cloak>
        <div class="ui centered internally celled grid">
            <div class="row">
                <div class="eleven wide column">
                    <student-data-page></student-data-page>
                </div>
                <div class="five wide column">
                    <div class="vertical-half-spacer"></div>

                    <div>
                        <div class="ui header">
                            Recruiting:
                        </div>

                        <div ng-switch on="!isStudentApplicant">
                            <div ng-switch-when="true" ng-click="addStudent()" class="ui icon basic button fluid blue animate-switch">
                                <i class="add user icon"></i> Recruit
                            </div>

                            <div ng-switch-when="false" ng-click="removeStudent()" class="ui icon basic button fluid red animate-switch">
                                <i class="add user icon"></i> Remove
                            </div>
                        </div>
                        <comment-panel></comment-panel>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="vertical-spacer"></div>

<script src="node_modules/pdfjs-dist/build/pdf.js"></script>

<script src="public/js/pdfobject.js"></script>
<style>
    #the-canvas {
        height: 700px;
    }

    .pdfobject {
        border: 1px solid #666;
    }
</style>
<link rel="stylesheet" type="text/css" href="public/css/studentProfile.css">