<div>
    <div class="ui container" ng-cloak>
        <div class="ui centered internally celled grid">
            <div class="row">
            <div class="eleven wide column">
                <student-data-page></student-data-page>
            </div>
                <div class="five wide column">
                    <div id="statusAndGrade">
                        <div class="ui header">Status and Grade</div>
                        <div class="ui fluid selection dropdown">
                            <input name="status" type="hidden" value="0">
                            <div class="text">{{studentData.status}}</div><i class="dropdown icon"></i>
                            <div class="menu transition hidden">
                                <div data-value="{{option}}" class="item" ng-repeat="option in statusOptions" ng-click="selectStatus(option)">
                                    {{option}}
                                </div>
                            </div>
                        </div>
                        <div class="ui fluid selection dropdown">
                            <input name="grade" type="hidden" value="0">
                            <div class="text">{{studentData.grade}}</div><i class="dropdown icon"></i>
                            <div class="menu transition hidden">
                                <div data-value="{{option}}" class="item" ng-repeat="option in r1GradeOptions" ng-click="selectR1Grade(option)">
                                    {{option}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <comment-panel student-key="{{studentKey}}"></comment-panel>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vertical-spacer"></div>

<script src="public/js/pdfobject.js"></script>
<style>
    #the-canvas { height: 700px; }
    .pdfobject { border: 1px solid #666; }
</style>
<link rel="stylesheet" type="text/css" href="public/css/studentProfile.css">