<div class="ui container">
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet ex eu eros luctus dignissim et et nisi.
        Duis sollicitudin tortor in vulputate gravida. Sed eu nunc gravida est tempor ultricies. Vestibulum ante ipsum primis
        in faucibus orci luctus et ultrices posuere cubilia Curae; Donec eget mauris feugiat, lobortis erat eget, mollis
        metus. Pellentesque eget leo neque. Etiam vulputate ullamcorper vulputate. Nulla finibus arcu sit amet diam gravida,
        sodales lobortis est interdum. Vivamus at sapien accumsan, ornare diam eget, lobortis sem.</p>
    <p>Suspendisse tempus congue sem a sagittis. Vestibulum nec orci vehicula, facilisis nisl lobortis, bibendum dui. Praesent
        quam neque, laoreet non tempor quis, ultrices porttitor libero. Morbi ornare libero quis magna accumsan, a ultrices
        mi congue. Mauris blandit commodo erat sed fermentum. Nulla facilisi. Pellentesque porta ipsum sit amet lectus posuere,
        in lacinia sem maximus. Ut diam justo, semper quis accumsan a, maximus nec massa. Maecenas porttitor urna id tempus
        aliquam. Phasellus accumsan justo egestas rutrum faucibus. Ut pretium rhoncus pellentesque. Suspendisse bibendum
        quis enim semper finibus. Nulla non ligula interdum, lacinia arcu quis, dictum leo. Morbi nec vehicula turpis. Sed
        rhoncus malesuada mauris eget aliquam.</p>
    <p>Curabitur in placerat sapien, sed dapibus purus. Suspendisse bibendum massa id porttitor vehicula. Etiam vel posuere
        enim, ac feugiat leo. Nam rutrum, turpis vel dignissim pretium, justo tellus tempor quam, at pretium massa leo eu
        tellus. Proin et enim sit amet neque tempus fermentum. Vivamus cursus ultrices porta. Pellentesque non consectetur
        est. Quisque et efficitur elit. Sed nec ornare nibh. Nunc quis urna elementum, dapibus diam non, pellentesque justo.
        Nullam a ipsum sapien. Aenean sed semper tortor. Proin dignissim hendrerit quam, in luctus ipsum euismod et. Duis
        sagittis pulvinar lacus, vitae volutpat libero lacinia eu. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.</p>
    <p>Sed eget ipsum lectus. Vestibulum tincidunt sollicitudin quam. Vestibulum in porta leo. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Phasellus sed odio odio. Pellentesque a arcu ex. Nam in diam vitae mi sagittis feugiat.</p>
    <p>Donec mi leo, viverra nec pharetra sit amet, auctor at libero. Nullam tempus egestas turpis, vitae sagittis sem vulputate
        lacinia. Quisque nec posuere turpis, vel egestas quam. Aenean quis libero ligula. Duis eget egestas magna, ac porttitor
        lorem. Nulla elementum euismod fermentum. Praesent auctor sollicitudin tortor sed hendrerit. Vestibulum ac elementum
        est, id sagittis erat. Cras sed ultricies dolor, sit amet faucibus mi. Sed molestie, sem porta vulputate feugiat,
        justo libero egestas odio, sit amet commodo dui risus vitae sapien. Aenean iaculis risus at justo rutrum placerat.
        Morbi venenatis massa at suscipit ultrices. Mauris fermentum, nisl a ultricies euismod, urna velit commodo arcu,
        in congue nisi quam vitae felis. Nam eleifend metus quis mauris convallis, sit amet tempus odio fermentum.</p>
    <p>Nullam vehicula sapien fermentum mattis tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; Curabitur dictum volutpat erat at blandit. Vestibulum vitae turpis vel enim porttitor aliquam ut a
        erat. Vestibulum cursus tellus purus, eget condimentum purus hendrerit eget. Suspendisse sagittis erat at iaculis
        auctor. Nulla vel odio justo. Morbi laoreet pretium turpis, quis molestie metus maximus in.</p>-->
    <!--<div class="ui-view"></div>-->

    <h1 class="ui centered header">Phase 1 Decision Board</h1>
    <div class="ui relaxed internally celled grid">
        <div class="row">
            <div class="five wide column">
                <div class="ui horizontal statistic">
                    <div class="value">
                        {{phase1.list.length}}
                    </div>
                    <div class="label">
                        Students in Range
                    </div>
                </div>
            </div>
            <div class="eleven wide column">
                <h2 class="ui centered header">Students</h2>
            </div>
        </div>
        <div class="row">
            <div class="five wide column">
                <rzslider rz-slider-model="phase1.slider.value" rz-slider-options="phase1.slider.options">
                </rzslider>                
                <div ng-repeat="chart in phase1.charts">
                    <h4 class="ui header">{{chart.name}} Breakdown</h4>
                <canvas id="stage-doughnut" class="chart chart-doughnut" 
                    chart-data="chart.data" chart-labels="chart.labels" 
                    chart-legend="false">
                </canvas>
                </div>
            </div>
            <div class="eleven wide column" id="processTableContainer">
                <table class="ui fixed table">
                    <tbody>
                        <tr ng-repeat="studentPair in phase1.displayList">
                            <td>{{studentPair.right.name}}</td>
                            <td>{{studentPair.left.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="ui fluid tablet stackable steps">
        <div class="step">
            <i class="user icon"></i>
            <div class="content">
                <div class="title">Phase I</div>
                <div class="description">Techpoint Decision Board</div>
            </div>
        </div>
        <div class="step">
            <i class="bar chart icon"></i>
            <div class="content">
                <div class="title">Phase II - a</div>
                <div class="description">Instructor Metadata &amp; Statistics</div>
            </div>
        </div>
        <div class="step">
            <i class="university icon"></i>
            <div class="content">
                <div class="title">Phase II - b</div>
                <div class="description">Instructor Decision Board</div>
            </div>
        </div>
        <div class="step">
            <i class="building outline icon"></i>
            <div class="content">
                <div class="title">Phase III</div>
                <div class="description">Company Preferences</div>
            </div>
        </div>
    </div>
</div>