<div class="ui container">
	<div class="ui secondary pointing menu">
		<a class="item" ng-class="{active: selectedGroup.active == 'TechPoint'}" ng-click="selectedGroup.changeGroup('TechPoint')">TechPoint</a>
		<a class="item" ng-class="{active: selectedGroup.active == 'Instructor'}" ng-click="selectedGroup.changeGroup('Instructor')">Instructor</a>
		<a class="item" ng-class="{active: selectedGroup.active == 'Company'}" ng-click="selectedGroup.changeGroup('Company')">Company</a>
	</div>
	<div ng-show="selectedGroup.active == 'Company'">
		<select class="ui fluid search dropdown" ng-model="selectedGroup.activeCompany" ng-change="selectedGroup.changeCompany()">
            <option ng-repeat="item in companyList" value="{{item}}" on-last-repeat-drop-down>
                {{item}}
            </option>
        </select>
	</div>
	<table class="ui table sortable">
		<thead>
			<tr>
				<th ng-repeat="header in tableHeaders" ng-click="sort(header)" class="sorted seven wide">
					{{header.title}}
				</th>
				<th class="two wide">
					Edit/Delete
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in selectedGroup.selectedUsers" ng-click="rowClick(row)" class="clickable">
				<td ng-repeat="header in tableHeaders">
					<div ng-bind-html="row[header.displayPropertyName]"></div>
					<!--{{row[header.displayPropertyName]}}-->
				</td>
				<td class="centered">
					<button class="centered ui icon yellow basic button">
                   <i class="edit icon"></i>     
                </button>
					<button class="centered ui icon red basic button">
                   <i class="trash icon"></i>     
                </button>
				</td>
			</tr>
		</tbody>
	</table>
</div>