<div class="ui container">
	<div class="ui secondary pointing menu">
		<a class="item" ng-class="{active: selectedGroup.active == 'TechPoint'}" ng-click="selectedGroup.changeGroup('TechPoint')">TechPoint</a>
		<a class="item" ng-class="{active: selectedGroup.active == 'Instructor'}" ng-click="selectedGroup.changeGroup('Instructor')">Instructor</a>
		<a class="item" ng-class="{active: selectedGroup.active == 'Company'}" ng-click="selectedGroup.changeGroup('Company')">Company</a>
	</div>
	<div ng-show="selectedGroup.active == 'Company'">
		<select class="ui fluid search dropdown" ng-model="selectedGroup.activeCompany" ng-change="selectedGroup.changeCompany()">
            <option ng-repeat="item in companyList" value="{{item}}" on-last-repeat-drop-down>
                {{item}}
            </option>
        </select>
	</div>
	<table class="ui table sortable">
		<thead>
			<tr>
				<th ng-repeat="header in tableHeaders" ng-click="sort(header)" class="sorted seven wide computer">
					{{header.title}}
				</th>
				<th class="two wide">
					Edit/Delete
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in selectedGroup.selectedUsers" ng-click="rowClick(row)" class="clickable">
				<td ng-repeat="header in tableHeaders">
					<div ng-bind-html="row[header.displayPropertyName]"></div>
					<!--{{row[header.displayPropertyName]}}-->
				</td>
				<td class="centered">
					<button class="centered ui icon yellow basic button">
                   <i class="edit icon"></i>     
                </button>
					<button class="centered ui icon red basic button">
                   <i class="trash icon"></i>     
                </button>
				</td>
			</tr>
		</tbody>
	</table>

	<button class="ui positive right floated button" ng-click="launchAddUserModal()">Add User</button>
</div>
<div class="ui modal" id="accountsModal">
	<div class="header">Add a User</div>
	<div class="content">
		<form class="ui form" id="accountModalform">
            <div class="two fields">
			<div class="required field">
				<label>First Name</label>
				<input type="text" name="first-name" placeholder="First Name" ng-model="UserFormData.firstName">
			</div>
			<div class="required field">
				<label>Last Name</label>
				<input type="text" name="last-name" placeholder="Last Name" ng-model="UserFormData.lastName">
			</div>
            </div>
            <div class="required field">
				<label>Email</label>
				<input type="text" name="email" placeholder="Email" ng-model="UserFormData.email">
			</div>
			<div class="required field">
				<label>Password</label>
				<input type="text" name="password" placeholder="Password" ng-model="UserFormData.password">
			</div>
            <div class="two fields">
                 <!--ng-class="{two: selectedGroup.active == 'Company', fields: selectedGroup.active == 'Company'}">-->
			<div class="required field">
                <label>Group</label>
				<select class="ui fluid search dropdown" name="group" ng-model="UserFormData.role" ng-change="" aria-placeholder="Select a Role">
                    <option value="TechPoint">TechPoint</option>
                    <option value="Instructor">Instructor</option>
                    <option value="Company">Company</option>
                </select>
			</div>
            <!--<div class="vertical-spacer"></div>-->
			<div class="field"  ng-class="{required: UserFormData.role == 'Company'}" >
                <label>Company</label>
				<select class="ui fluid search dropdown" ng-model="UserFormData.organization"
                         ng-change="" ng-disabled="UserFormData.role== 'Company'">
                    <option ng-repeat="item in companyList" value="{{item}}" on-last-repeat-drop-down>
                        {{item}}
                    </option>
                </select>
			</div>
            </div>
            <div class="ui error message"></div>
            <!--<div class="ui green basic submit right floated button">Submit</div>-->
		</form>
        <!--<div class="vertical-spacer"></div>-->
	</div>
	<div class="actions">
		<div class="ui cancel grey basic button">Cancel</div>
		<div class="ui green basic button" ng-click="submitUser()">Approve</div>
	</div>
    
</div>